@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400&subset=latin,cyrillic);
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 1em/1em 'Open Sans', sans-serif;
  color: #333333; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  font-size: 1em;
  vertical-align: middle; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  font: 1em 'Open Sans', sans-serif;
  color: #333333;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

html {
  box-sizing: border-box;
  margin-top: 0 !important; }

*, *:before, *:after {
  box-sizing: inherit; }

.top-header {
  max-width: 730px;
  width: 100%;
  margin: 0 auto; }
  .top-header img {
    width: 100%;
    height: auto; }
  .top-header h2 {
    text-align: center; }

#masthead {
  min-height: 180px;
  background: url("images/4-7.jpg") no-repeat;
  background-size: cover;
  position: relative; }
  #masthead .site-title img {
    position: absolute;
    top: 40px;
    left: 20px; }
  #masthead .logo img {
    position: absolute;
    top: 50px;
    left: 35px; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

#masthead ul.social {
  text-align: right;
  margin-right: 115px;
  padding-top: 137px; }

#masthead ul.social li {
  border-bottom: none;
  display: inline-block;
  text-align: center;
  margin: 0 6px; }
  #masthead ul.social li a {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: #696b6a;
    border: 0 #fff solid; }
    #masthead ul.social li a:hover {
      background-color: #1e73be; }
    #masthead ul.social li a span {
      color: #FFF;
      font-size: 12px;
      line-height: 16px; }

/********/
/*POSTS**/
/********/
.single main {
  padding-left: 20px; }

.breadcrumbs {
  padding: 10px 0 20px; }
  .breadcrumbs span {
    color: #32ADAA;
    font-size: 12px;
    font-style: italic; }

.single-post .left-wrapp {
  overflow: hidden;
  float: left;
  max-width: 670px; }
.single-post .two-side {
  max-width: 400px !important;
  margin-right: 15px;
  margin-top: 0;
  overflow: hidden; }
.single-post .content-area {
  overflow: hidden; }
  .single-post .content-area .single-face {
    padding: 0;
    margin: 0;
    width: 100%; }
    .single-post .content-area .single-face .author {
      text-align: left;
      overflow: hidden;
      padding-right: 0;
      margin-top: 0; }
      .single-post .content-area .single-face .author img {
        display: block;
        float: left;
        width: 181px;
        height: auto; }
      .single-post .content-area .single-face .author .data {
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px; }
      .single-post .content-area .single-face .author .data:before {
        border-bottom: 1px solid #BBB;
        content: "";
        position: absolute;
        width: 60px;
        top: 8px;
        left: 3px; }
      .single-post .content-area .single-face .author .data:after {
        border-bottom: 1px solid #BBB;
        content: "";
        position: absolute;
        width: 60px;
        top: 8px;
        right: 3px; }
      .single-post .content-area .single-face .author h2 {
        text-align: center;
        overflow: hidden; }
        .single-post .content-area .single-face .author h2 span {
          font-size: 30px;
          color: #32ADAA;
          border: none;
          line-height: 30px;
          font-style: normal;
          font-weight: normal;
          padding: 0 10px;
          display: block;
          text-align: center; }
      .single-post .content-area .single-face .author h4 {
        overflow: hidden;
        font-size: 14px;
        max-width: 192px;
        margin: 0 auto;
        text-align: left;
        font-style: italic;
        font-weight: normal;
        margin-top: 15px; }

ul.all-news {
  overflow: hidden; }

.single-news .site-main > h1 {
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px; }

.single-news .posts-info > .author {
  margin-top: 0 !important; }

ul.all-news .single-news {
  background-color: #D8F3F2;
  margin-bottom: 15px;
  width: 100%; }
  ul.all-news .single-news img {
    width: 190px;
    height: auto;
    padding-bottom: 0; }
  ul.all-news .single-news div, ul.all-news .single-news h2, ul.all-news .single-news p {
    overflow: hidden;
    padding-left: 10px; }
  ul.all-news .single-news .posts-info {
    font-size: 12px;
    padding: 5px 0 0 10px; }
  ul.all-news .single-news h2 a {
    font-size: 16px;
    font-weight: bold; }
  ul.all-news .single-news p a {
    font-size: 14px;
    line-height: 20px; }

ul.all-news .single-news:hover {
  background-color: #FFF;
  border: 1px solid #32ADAA;
  margin-bottom: 13px; }
  ul.all-news .single-news:hover .posts-info {
    border-color: #32ADAA;
    border-style: solid;
    border-width: 5px 0 0 0;
    padding-top: 0; }

ul.all-news .single-news > a:first-child {
  float: left; }

.site-content {
  overflow: hidden; }

.page .site-content .content-area {
  width: 68%;
  float: left;
  margin-right: 15px; }

.menu-wrapp div ul.menu {
  padding-bottom: 20px; }
  .menu-wrapp div ul.menu li {
    display: inline-block;
    margin-right: 18px;
    text-align: left; }
    .menu-wrapp div ul.menu li a {
      text-transform: uppercase;
      font-size: 16px;
      color: #AAAAAA; }
  .menu-wrapp div ul.menu li.current_page_item a {
    color: #32ADAA;
    font-weight: bold; }

.page .breadcrumbs {
  padding-bottom: 10px; }

.page-template-first-face .content-area {
  margin-top: 0; }
  .page-template-first-face .content-area .first-face-list {
    overflow: hidden;
    text-align: center; }
    .page-template-first-face .content-area .first-face-list .single-news {
      max-width: 200px;
      display: inline-block;
      border: 1px solid #32ADAA;
      margin: 0 4px;
      min-height: 359px; }
      .page-template-first-face .content-area .first-face-list .single-news img {
        max-width: 198px;
        width: 100%;
        height: auto; }
      .page-template-first-face .content-area .first-face-list .single-news h4 {
        color: #777777;
        font-weight: normal;
        font-style: italic;
        font-size: 10px;
        max-width: 140px;
        margin: 0 auto; }
      .page-template-first-face .content-area .first-face-list .single-news .posts-info h2 {
        margin-bottom: 5px; }
      .page-template-first-face .content-area .first-face-list .single-news .posts-info h2 span {
        color: #333333;
        font-size: 14px; }
      .page-template-first-face .content-area .first-face-list .single-news .posts-info h3 {
        font-size: 14px;
        color: #333333;
        margin: 15px auto;
        max-width: 140px; }
    .page-template-first-face .content-area .first-face-list .single-news:hover {
      border-width: 3px; }
      .page-template-first-face .content-area .first-face-list .single-news:hover h2 span {
        color: #32ADAA; }

.single-news {
  width: 68%;
  float: left;
  margin-right: 15px;
  margin-top: 0 !important; }
  .single-news .posts-info {
    padding-bottom: 15px; }
    .single-news .posts-info .author .label {
      font-style: italic; }
    .single-news .posts-info .author .author-name {
      border-bottom: 1px solid #333;
      font-style: italic; }
  .single-news .time-post {
    width: 100%;
    max-width: 150px;
    float: left;
    font-size: 14px; }
  .single-news .author {
    text-align: right;
    font-size: 14px;
    padding-right: 45px; }
  .single-news .attachment-post-thumbnail {
    width: 100%;
    padding-bottom: 30px; }
  .single-news .content-wrapp p {
    line-height: 22px; }
  .single-news .wp_rp_wrap {
    margin-top: 55px; }
    .single-news .wp_rp_wrap h3 {
      margin-bottom: 15px !important; }
    .single-news .wp_rp_wrap .wp_rp_title {
      display: none !important; }
    .single-news .wp_rp_wrap li {
      width: 204px !important;
      position: relative; }
      .single-news .wp_rp_wrap li a img {
        width: 204px !important; }
    .single-news .wp_rp_wrap li:last-child {
      margin-right: 0 !important; }
    .single-news .wp_rp_wrap .wp_rp_title {
      display: none !important; }
    .single-news .wp_rp_wrap li:hover .wp_rp_title {
      display: block !important;
      position: absolute !important;
      top: 10px;
      text-align: center;
      color: #FFF;
      width: 100%;
      font-size: 16px !important; }

.interview {
  width: 100%;
  max-width: 650px;
  float: left;
  margin: 0 20px 0 0 !important; }
  .interview .posts-info {
    overflow: hidden; }
    .interview .posts-info img {
      float: left;
      width: 181px !important;
      height: auto !important; }
    .interview .posts-info .custom-interview {
      overflow: hidden;
      padding-left: 20px; }
      .interview .posts-info .custom-interview .time-post {
        font-size: 14px;
        margin-bottom: 25px; }
      .interview .posts-info .custom-interview h4 {
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        max-width: 190px;
        line-height: 20px;
        clear: both; }
      .interview .posts-info .custom-interview h1 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px; }
  .interview .content-wrapp {
    margin-top: 20px; }
    .interview .content-wrapp p {
      color: #333333;
      font-size: 16px;
      line-height: 22px; }
  .interview .interview-list {
    text-align: center; }
    .interview .interview-list li {
      display: inline-block;
      width: 100%;
      max-width: 200px;
      border: 1px solid #32ADAA;
      margin: 0 4px;
      overflow: hidden;
      min-height: 372px; }
      .interview .interview-list li .thumb {
        min-height: 200px; }
      .interview .interview-list li h2 {
        min-height: 54px; }
      .interview .interview-list li img {
        max-width: 198px;
        width: 100%;
        height: auto; }
      .interview .interview-list li h4 {
        color: #777777;
        font-weight: normal;
        font-style: italic;
        font-size: 10px;
        max-width: 140px;
        margin: 0 auto;
        min-height: 56px; }
      .interview .interview-list li h1 {
        font-size: 14px;
        color: #333333;
        margin: 15px auto;
        max-width: 140px;
        min-height: 57px; }
    .interview .interview-list li:hover {
      border-width: 3px; }
      .interview .interview-list li:hover h2 span {
        color: #32ADAA; }

.related_post.wp_rp li {
  width: 204px !important;
  position: relative;
  margin-right: 6px !important; }
  .related_post.wp_rp li img {
    width: 204px !important;
    height: auto !important; }

.wp_rp_content .related_post_title {
  margin: 30px 0 !important; }

.wp_rp_title {
  display: none !important; }

.related_post.wp_rp li:hover .wp_rp_title {
  display: block !important;
  position: absolute !important;
  top: 10px;
  text-align: center;
  color: #FFF;
  width: 100%;
  font-size: 16px !important; }

.nav-links {
  margin: 25px auto; }

.interview-list {
  text-align: center;
  overflow: hidden; }
  .interview-list li {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    border: 1px solid #32ADAA;
    margin: 0 4px !important;
    overflow: hidden;
    min-height: 372px; }
    .interview-list li .thumb {
      height: 203px; }
    .interview-list li h2 {
      min-height: 54px; }
    .interview-list li img {
      max-width: 198px;
      width: 100%;
      height: auto; }
    .interview-list li h4 {
      color: #777777;
      font-weight: normal;
      font-style: italic;
      font-size: 10px;
      max-width: 140px;
      margin: 0 auto;
      min-height: 56px; }
    .interview-list li h1, .interview-list li h3 {
      font-size: 14px;
      color: #333333;
      margin: 15px auto;
      max-width: 140px;
      min-height: 57px; }
  .interview-list li:hover {
    border-width: 3px; }
    .interview-list li:hover h2 span {
      color: #32ADAA; }
    .interview-list li:hover h4 {
      min-height: 53px; }
    .interview-list li:hover .thumb {
      height: 200px; }

.comment-metadata, span.says {
  display: none; }

.comment-author {
  width: 64px;
  float: left;
  text-align: center; }

.comment-content {
  float: right; }

.commentlist .comment {
  margin-bottom: 30px;
  overflow: hidden; }
  .commentlist .comment .comment-meta {
    width: 64px;
    float: left; }
  .commentlist .comment .comment-body {
    overflow: hidden; }
  .commentlist .comment .comment-content {
    min-height: 35px;
    float: none;
    overflow: hidden;
    background-color: #6DC5C3; }
    .commentlist .comment .comment-content p {
      font-size: 14px;
      padding: 5px 0 0 5px; }
  .commentlist .comment .children {
    width: 75%;
    margin-left: 15%;
    margin-top: 15px; }
    .commentlist .comment .children .comment-content {
      width: 87.7%; }
    .commentlist .comment .children .comment {
      margin-bottom: 15px; }
  .commentlist .comment .reply {
    clear: both; }
    .commentlist .comment .reply a {
      font-size: 12px; }

.left-wrapp .comment-content {
  width: 81%; }

.single-news .children {
  width: 87.5% !important; }

.content-area, .after-post {
  margin-top: 40px; }
  .content-area h2, .after-post h2 {
    color: #32ADAA;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px; }
  .content-area ul, .after-post ul {
    margin-bottom: 30px; }
    .content-area ul li, .after-post ul li {
      margin: 10px 0; }
      .content-area ul li a, .after-post ul li a {
        color: #333333;
        font-size: 16px; }
      .content-area ul li a:hover, .after-post ul li a:hover {
        color: #32ADAA; }
  .content-area .comments, .after-post .comments {
    border-bottom: 2px solid #6DC5C3;
    padding-bottom: 15px;
    margin-bottom: 20px; }
    .content-area .comments .fa, .after-post .comments .fa {
      font-size: 40px;
      color: #6DC5C3; }
    .content-area .comments .number-of-comments, .after-post .comments .number-of-comments {
      color: #6DC5C3;
      text-transform: uppercase;
      font-size: 20px;
      vertical-align: super;
      padding-left: 20px; }
  .content-area form, .after-post form {
    padding-bottom: 30px;
    background: url("http://1.gravatar.com/avatar/a917fd36bdaaee751546e32db89391d7?s=32&d=mm&r=g") no-repeat 15px top, url("images/border.fw.png") no-repeat 58px 9px;
    padding-top: 30px;
    position: relative; }
    .content-area form textarea, .after-post form textarea {
      max-width: 570px;
      width: 100%;
      border-color: #32ADAA;
      margin-left: 60px;
      padding: 6px 0 0 6px;
      font-style: italic; }
    .content-area form p, .after-post form p {
      margin: 10px 0 0 60px; }

.navigation.pagination h2 {
  display: none; }
.navigation.pagination .nav-links {
  text-align: center; }
  .navigation.pagination .nav-links span, .navigation.pagination .nav-links a {
    color: #32ACAA;
    font-size: 18px; }
  .navigation.pagination .nav-links .current {
    font-size: 24px;
    font-weight: bold; }

/********/
/*ASIDE**/
/********/
.sidebar {
  width: 30%;
  float: right; }

.left-sidebar {
  float: left;
  width: 27%;
  max-width: 252px;
  margin-right: 15px; }

.right-sidebar {
  float: right;
  width: 27%;
  max-width: 252px; }

#secondary {
  margin-top: 10px; }
  #secondary .widget_search {
    margin-bottom: 10px; }
    #secondary .widget_search .screen-reader-text, #secondary .widget_search .search-submit {
      display: none; }
    #secondary .widget_search .search-field {
      padding: 2px 0 2px 30px;
      width: 100%;
      background: url("images/search.png") no-repeat 6px center; }
  #secondary .widget_text {
    margin-bottom: 10px; }
    #secondary .widget_text h1 {
      text-align: center;
      padding: 15px 0;
      background-color: #32ADAA;
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase; }
      #secondary .widget_text h1 a {
        color: #FFF; }
    #secondary .widget_text ul, #secondary .widget_text ul li {
      background: none;
      border: none; }
      #secondary .widget_text ul .time, #secondary .widget_text ul li .time {
        width: 40px;
        height: 40px;
        float: left;
        border: 1px solid #32ADAA;
        border-radius: 100%;
        font-size: 12px;
        padding: 10px 0 0 4px; }
    #secondary .widget_text ul.all-news, #secondary .widget_text ul.top-news {
      padding-top: 30px;
      overflow: hidden;
      border: 1px solid #32ADAA; }
      #secondary .widget_text ul.all-news li, #secondary .widget_text ul.top-news li {
        margin: 20px 10px;
        width: 100%; }
        #secondary .widget_text ul.all-news li p a, #secondary .widget_text ul.top-news li p a {
          font-size: 14px;
          line-height: 17px; }
        #secondary .widget_text ul.all-news li p, #secondary .widget_text ul.top-news li p {
          overflow: hidden;
          max-width: 230px; }
          #secondary .widget_text ul.all-news li p .post-info, #secondary .widget_text ul.top-news li p .post-info {
            font-size: 12px;
            color: #333333;
            display: block;
            margin-bottom: 10px; }
    #secondary .widget_text ul.top-news {
      background-color: #D8F3F2; }
      #secondary .widget_text ul.top-news li p {
        max-width: 190px;
        padding-left: 10px; }
        #secondary .widget_text ul.top-news li p a {
          font-weight: bold; }
    #secondary .widget_text ul li:hover {
      margin-bottom: 20px; }
      #secondary .widget_text ul li:hover .time {
        border-width: 3px;
        padding: 8px 0 0 2px; }
      #secondary .widget_text ul li:hover p a {
        font-weight: bold; }
    #secondary .widget_text ul.top-news li:hover {
      background-color: #FFF;
      border: 1px solid #32ADAA; }
    #secondary .widget_text .thumb {
      float: left; }
      #secondary .widget_text .thumb img {
        width: 72px;
        height: 72px;
        padding-bottom: 0; }
  #secondary .widget_calendar {
    border: 1px solid #32ADAA;
    border-top-width: 4px;
    margin-bottom: 20px; }
    #secondary .widget_calendar h1 {
      text-align: center;
      text-transform: uppercase;
      color: #32ACAA;
      font-size: 20px;
      font-weight: normal;
      padding-top: 10px; }
    #secondary .widget_calendar #calendar_wrap {
      margin-top: 20px; }
    #secondary .widget_calendar #wp-calendar {
      width: 100%; }
      #secondary .widget_calendar #wp-calendar caption {
        padding: 15px 0;
        text-align: center;
        background-color: #32ADAA;
        color: #FFF; }
      #secondary .widget_calendar #wp-calendar thead th {
        padding: 10px 0;
        color: #E56B6B;
        font-weight: normal; }
      #secondary .widget_calendar #wp-calendar tbody {
        text-align: center; }
        #secondary .widget_calendar #wp-calendar tbody td a {
          font-weight: bold; }

#secondary2 {
  margin-top: 10px; }
  #secondary2 .widget_search {
    margin-bottom: 10px; }
    #secondary2 .widget_search .screen-reader-text, #secondary2 .widget_search .search-submit {
      display: none; }
    #secondary2 .widget_search .search-field {
      padding: 2px 0 2px 30px;
      width: 100%;
      background: url("images/search.png") no-repeat 6px center; }
  #secondary2 .widget_text {
    clear: both;
    margin-bottom: 20px; }
    #secondary2 .widget_text h1 {
      text-align: center;
      padding: 15px 0;
      background-color: #32ADAA;
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase; }
      #secondary2 .widget_text h1 a {
        color: #FFF; }
    #secondary2 .widget_text ul.interview {
      padding-top: 25px !important;
      border: 1px solid #32ADAA; }
      #secondary2 .widget_text ul.interview li {
        padding: 0 10px;
        width: 100%;
        margin: 20px 0; }
      #secondary2 .widget_text ul.interview .time {
        float: left;
        margin-right: 10px; }
        #secondary2 .widget_text ul.interview .time img {
          width: 72px;
          height: 72px;
          padding-bottom: 0;
          border-radius: 100%; }
      #secondary2 .widget_text ul.interview h2 a {
        font-size: 18px;
        font-weight: normal; }
      #secondary2 .widget_text ul.interview h4 {
        margin-top: 8px; }
      #secondary2 .widget_text ul.interview h4 a {
        font-size: 12px;
        margin-top: 10px;
        font-weight: normal;
        color: #777777;
        font-style: italic; }
      #secondary2 .widget_text ul.interview li:hover .time img {
        border: 3px solid #32ADAA; }
      #secondary2 .widget_text ul.interview li:hover h2 a {
        color: #32ADAA; }
      #secondary2 .widget_text ul.interview li:hover h4 a {
        color: #333333; }

.content-area {
  margin-top: 0; }

/********/
/*FOOTER*/
/********/
footer.site-footer {
  background: #333333 url("images/logo_foot.png") no-repeat 75px 40px;
  position: relative;
  overflow: hidden;
  clear: both; }
  footer.site-footer nav {
    width: 77%;
    float: left; }
  footer.site-footer ul.social {
    width: 22%;
    float: right;
    padding-top: 60px; }
  footer.site-footer ul.social li {
    border-bottom: none;
    display: inline-block;
    text-align: center;
    margin: 0 6px; }
    footer.site-footer ul.social li a {
      display: inline-block;
      width: 23px;
      height: 23px;
      border-radius: 100%;
      background-color: #696b6a;
      border: 0 #fff solid; }
      footer.site-footer ul.social li a:hover {
        background-color: #1e73be; }
      footer.site-footer ul.social li a span {
        color: #FFF;
        font-size: 12px;
        line-height: 16px; }
  footer.site-footer #menu-footer-menu {
    text-align: center;
    padding: 60px 0;
    margin-left: 190px; }
    footer.site-footer #menu-footer-menu li {
      display: inline-block;
      max-width: 150px;
      width: 100%; }
      footer.site-footer #menu-footer-menu li a {
        color: #FFF; }

.page-template-navigation .navigation {
  margin-top: 0; }
.page-template-navigation .navigation main > ul li {
  padding: 35px 0;
  border-bottom: 1px solid #D8F3F2; }
  .page-template-navigation .navigation main > ul li .thumb {
    width: 106px;
    float: left;
    margin: 15px 20px 0 0; }
  .page-template-navigation .navigation main > ul li h2 a {
    font-size: 20px;
    font-weight: bold;
    color: #32ADAA; }
  .page-template-navigation .navigation main > ul li h2 {
    margin-bottom: 15px;
    overflow: hidden; }
  .page-template-navigation .navigation main > ul li p {
    overflow: hidden;
    font-size: 16px;
    line-height: 22px; }
.page-template-navigation .navigation main > ul li:last-child {
  border-bottom: none; }
.page-template-navigation .navigation main > ul li:first-child {
  padding-top: 0; }

.navigation-list {
  text-align: center; }
  .navigation-list li {
    vertical-align: top;
    display: inline-block;
    max-width: 204px;
    margin: 0 4px;
    position: relative; }
    .navigation-list li .thumb {
      margin-bottom: -4px; }
    .navigation-list li img {
      width: 100%;
      height: auto; }
    .navigation-list li h1, .navigation-list li h2 {
      display: none; }
  .navigation-list li:hover {
    background-color: #000; }
    .navigation-list li:hover img {
      opacity: 0.6; }
    .navigation-list li:hover h1, .navigation-list li:hover h2 {
      display: block;
      position: absolute;
      color: #FFF;
      margin: 0 auto;
      text-align: center; }
    .navigation-list li:hover h1 {
      font-size: 18px;
      width: 152px;
      top: 15px;
      left: 30px; }
    .navigation-list li:hover h2 {
      font-size: 14px;
      width: 108px;
      left: 25%;
      top: 55%; }

.menu-event-wrapp {
  text-align: left; }
  .menu-event-wrapp li {
    display: inline-block;
    margin-right: 30px !important; }
    .menu-event-wrapp li img {
      width: 40px;
      height: auto; }

.single-format-standard .content-area {
  margin-top: 0;
  max-width: 650px;
  float: left; }
  .single-format-standard .content-area .posts-info img {
    width: 100%;
    height: 350px; }
  .single-format-standard .content-area .posts-info .author {
    margin-top: 20px; }
  .single-format-standard .content-area .posts-info h2 {
    float: left;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px; }
  .single-format-standard .content-area .posts-info .com {
    float: right; }
    .single-format-standard .content-area .posts-info .com .top-post-pageview {
      margin-right: 20px;
      color: #32ADAA; }
    .single-format-standard .content-area .posts-info .com .number-of-comments {
      color: #32ADAA; }
    .single-format-standard .content-area .posts-info .com .fa {
      font-size: 20px;
      color: #32ADAA; }
  .single-format-standard .content-area .posts-info .data {
    clear: both; }
  .single-format-standard .content-area .posts-info .data {
    font-size: 14px;
    color: #32ADAA;
    margin-bottom: 15px;
    font-weight: bold; }
  .single-format-standard .content-area p {
    color: #333;
    line-height: 22px;
    font-size: 16px; }

.left-wrapp #secondary2 {
  float: left;
  margin-right: 10px;
  width: 240px; }

.single-format-standard .content-area .single-news.single-face .posts-info .author {
  margin-top: 10px !important; }
.single-format-standard .content-area .single-news.single-face .posts-info .data {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  clear: none !important; }
.single-format-standard .content-area .single-news.single-face .posts-info .data:before {
  border-bottom: 1px solid #BBB;
  content: "";
  position: absolute;
  width: 60px;
  top: 8px;
  left: 3px; }
.single-format-standard .content-area .single-news.single-face .posts-info .data:after {
  border-bottom: 1px solid #BBB;
  content: "";
  position: absolute;
  width: 60px;
  top: 8px;
  right: 3px; }
.single-format-standard .content-area .single-news.single-face .posts-info h2 {
  float: none; }

.other-author {
  padding-top: 0 !important; }

.home .left-wrapp {
  overflow: hidden;
  float: left; }
  .home .left-wrapp .content-area {
    max-width: 386px;
    margin-right: 0 !important; }
.home .left-wrapp #secondary2 {
  width: 286px;
  margin: 0; }
.home .slide-list {
  margin-bottom: 0; }
  .home .slide-list li {
    padding: 10px 0;
    text-align: center;
    margin: 1px 0;
    background-color: #333333; }
    .home .slide-list li a {
      color: #FFF;
      font-style: normal;
      font-size: 14px; }
  .home .slide-list li:hover {
    background-color: #fff; }
    .home .slide-list li:hover a {
      color: #333;
      font-weight: bold; }
.home .perl-wrapp h2, .home .top-news-wrapp h2 {
  text-align: center;
  color: #278A87;
  padding: 10px 0;
  border: 2px solid #32ADAA;
  border-top-width: 5px;
  margin-bottom: 0;
  text-transform: uppercase; }
.home .perl-wrapp .perl, .home .perl-wrapp .top-news, .home .top-news-wrapp .perl, .home .top-news-wrapp .top-news {
  margin-bottom: 0;
  background-color: #D8F3F2; }
  .home .perl-wrapp .perl li, .home .perl-wrapp .top-news li, .home .top-news-wrapp .perl li, .home .top-news-wrapp .top-news li {
    margin: 0;
    overflow: hidden; }
    .home .perl-wrapp .perl li .thumb, .home .perl-wrapp .top-news li .thumb, .home .top-news-wrapp .perl li .thumb, .home .top-news-wrapp .top-news li .thumb {
      padding: 20px;
      float: left; }
      .home .perl-wrapp .perl li .thumb img, .home .perl-wrapp .top-news li .thumb img, .home .top-news-wrapp .perl li .thumb img, .home .top-news-wrapp .top-news li .thumb img {
        width: 120px;
        height: auto; }
    .home .perl-wrapp .perl li .time-post, .home .perl-wrapp .top-news li .time-post, .home .top-news-wrapp .perl li .time-post, .home .top-news-wrapp .top-news li .time-post {
      margin: 20px 0 10px;
      color: #333333;
      font-size: 12px;
      overflow: hidden; }
    .home .perl-wrapp .perl li h3, .home .perl-wrapp .top-news li h3, .home .top-news-wrapp .perl li h3, .home .top-news-wrapp .top-news li h3 {
      margin: 20px 0;
      font-size: 16px; }
    .home .perl-wrapp .perl li h3 a, .home .perl-wrapp .top-news li h3 a, .home .top-news-wrapp .perl li h3 a, .home .top-news-wrapp .top-news li h3 a {
      font-size: 16px;
      font-weight: bold; }
    .home .perl-wrapp .perl li p, .home .perl-wrapp .top-news li p, .home .top-news-wrapp .perl li p, .home .top-news-wrapp .top-news li p {
      font-size: 14px;
      line-height: 17px; }
    .home .perl-wrapp .perl li p a, .home .perl-wrapp .top-news li p a, .home .top-news-wrapp .perl li p a, .home .top-news-wrapp .top-news li p a {
      font-size: 14px;
      line-height: 17px; }
.home .perl-wrapp .top-news h3, .home .top-news-wrapp .top-news h3 {
  margin: 0 !important;
  overflow: hidden; }
.home .perl-wrapp .menu-event-wrapp, .home .top-news-wrapp .menu-event-wrapp {
  margin-bottom: 0;
  background-color: #D8F3F2; }
  .home .perl-wrapp .menu-event-wrapp li, .home .top-news-wrapp .menu-event-wrapp li {
    margin: 10px 15px !important; }
  .home .perl-wrapp .menu-event-wrapp .thumb a, .home .top-news-wrapp .menu-event-wrapp .thumb a {
    float: left;
    display: block; }
  .home .perl-wrapp .menu-event-wrapp h3, .home .top-news-wrapp .menu-event-wrapp h3 {
    overflow: hidden;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: normal; }
  .home .perl-wrapp .menu-event-wrapp .thumb, .home .top-news-wrapp .menu-event-wrapp .thumb {
    overflow: hidden; }

.home #secondary {
  margin-top: 0; }
  .home #secondary .slide {
    text-align: center;
    padding: 15px 0;
    background-color: #32ADAA;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase; }
    .home #secondary .slide a {
      color: #FFF; }
  .home #secondary .week img {
    width: 100%;
    height: auto; }
  .home #secondary .week-wrapp {
    position: relative; }
    .home #secondary .week-wrapp .week-thema {
      position: absolute;
      bottom: 3px;
      background-color: #000;
      opacity: 0.6;
      width: 100%;
      text-align: center; }
      .home #secondary .week-wrapp .week-thema p {
        opacity: 1;
        color: #FFF;
        padding: 15px 0; }

.flex-control-nav {
  position: relative !important;
  bottom: 0 !important; }
  .flex-control-nav li {
    width: 100%;
    background-color: #333;
    margin: 1px 0 !important; }
    .flex-control-nav li h2 {
      margin-bottom: 0;
      color: #FFF;
      font-size: 14px;
      padding: 15px 0; }
  .flex-control-nav li.flex-active, .flex-control-nav li:hover {
    background-color: #FFF;
    border: 1px solid #333; }
    .flex-control-nav li.flex-active h2, .flex-control-nav li:hover h2 {
      color: #111;
      padding: 14px 0;
      font-weight: bold; }

.flex-control-paging {
  display: none; }

ul.slides > li {
  margin-bottom: 0 !important; }
  ul.slides > li img {
    margin-bottom: -4px; }

.slides {
  margin-bottom: 0 !important; }

.flex-active-slide img {
  width: 386px;
  height: 287px; }

.flex-active-slide {
  margin-top: 0 !important; }

.hot-message {
  overflow: hidden;
  padding: 10px 0;
  background-color: #333;
  opacity: 0.75; }
  .hot-message .textwidget {
    width: 290px;
    float: right;
    color: #FFF;
    font-size: 14px;
    text-align: center; }
    .hot-message .textwidget span {
      color: #32ADAA;
      font-size: 20px; }
  .hot-message .hot-phone {
    overflow: hidden;
    width: 100%;
    max-width: 670px;
    float: left;
    color: #FFF;
    font-size: 12px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
